/* Tags */
body {
    text-align: center;
}
/* #Ids */
#login {
    background-color: black;
    color: white;
}

#registre {
    background-color: blue;
    color: aliceblue;
}
/* .Classes */
.copy {
    font-size: 8px;
}