.formulario {
    margin-top: 5%;
}

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:rgb(77, 119, 119);
}

body{
    background-color: rgba(84, 118, 107, 0.486);
}